ul {
    color: red;
    margin: 0;
    padding: 4px;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    line-height: 3;
}
a.text{
    color:#FF0000; 
    text-decoration:none; 
}
ul.menu li {
    display: inline;
    margin-right: 5%;
    margin-left: 10%;
   
}
img {
    width: 100%;
    margin-top: 48px;
}
h2 {
    text-align: center;
    margin-top: 38px;
}
footer {
    margin-left: 800px;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    margin-top: 82px;
    margin-right: 50px;
}
p {
    padding: 4px;
    text-align: center;
    margin-right: 8%;
    font-family: Montserrat;
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top:10px;
}
.button-container {
    margin: auto;
    width: 170px;
}
.b {
    background: red;
    color: white;
    font-size: 9pt;
    border-radius: 5px;
    border: 0px;
    height: 50px;
    width: 170px;
    margin-top: 50px;
}
.menu-container {
    margin: auto;
    width: 1400px;
}